.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
}

@media (max-width: 746px) {
    .register-page {
        padding-top: 25vh;
    }
}
