.shopping-cart {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1300;
    /* background-color: transparent; */
    background: rgba(13, 202, 240, 0.1);
    /* border-left: 2px solid #0DCAF0; */
    /* box-shadow: -5px 0 30px #0DCAF0; */
    /* background-color: red; */
    /* filter: blur(12px); */
    backdrop-filter: blur(12px);
    overflow-y: auto;
    width: 500px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: electricPulse 2s  infinite;
    transition: transform 0.4s ease; /* Makes slide-in/ slide-out animation smooth */
}

.shopping-cart h2 {
    text-align: center;
    /* color: #0DCAF0; */
    color: #00FFAB;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 10px;
}


.close-cart {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1200;
    color: #f8052d
}

.close-cart:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* @keyframes electricPulse {
    0%, 100% {
        box-shadow: -5px 0 30px #0DCAF0
    }

    50% {
        box-shadow: -5px 0 30px #00FFFF
    }
} */


.checkout-button-cart {
    background-color: #198754;
    padding: 14px 28px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3 ease, transform 0.2 ease, box-shadow 0.3 ease;
}

.checkout-button-cart:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 0 0 10px #198754;
}



.cart-card {
  background-color: rgba(32, 31, 31, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.3s ease;
  /* height: 500px; */
  width: 450px;
  margin-bottom: 10px;
  padding: 10px;
  backdrop-filter: blur(20px);
}


.cart-content {
    display: flex;;
    align-items: center;
    gap: 20px;
    text-align: justify;
}

.cart-image-card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}


.cart-desc {
    color: #00FFAB;
}



.remove-icon {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.remove-icon:hover {
  transform: scale(1.2);
}


.buttonAndTrash {
    /* background-color: red; */
    width: 300px;
}

.buttonAndTrash button {
    background: none;
    border: 2px solid #00FFAB;
    border-radius: 5px;
}

.cart-loading {
    height: 100%;
    color: #00FFAB;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.cart-empty {
    height: 100%;
    color: #00FFAB;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

/* .card-info {
    text-align: justify;
}

.cart-card {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.3s ease;
}

.cart-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(13, 202, 240, 0.3);
}

/* .cart-image-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
} 

 */
