.medium-left-card-one {
    background-image: url(../../images/gaming/chelsea-console.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    cursor: pointer;
}
