.small-left-card-one {
    background-image: url(../../../images/gaming/gaming-pad-2.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    cursor: pointer;
}

.small-left-card-two {
    /* background-image: url(../../../images/vr-glasses/vr-glasses-10.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    cursor: pointer; */
    height: 400px;;
}

.small-left-card-two video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.small-left-card-three {
    background-image: url(../../../images/vr-glasses/vr-glasses-6.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    cursor: pointer;
}

.small-left-card-four {
    background-image: url(../../../images/airpods-2.jpg);
    background-position: center;
    background-size: cover;
    height: 328px;
    cursor: pointer;
}


