.reset-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.4); /* slight dark overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.electric-form-reset {
    /* width: 320px; */
    width: 500px;
    /* padding: 20px;
    width: 100%; */
    margin: 60px auto;
    padding: 32px 28px;
    /* background: #1A1D29; */
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.4);
    color: #F1F5FA;
    font-family: 'Segoe UI', sans-serif;
    animation: popIn 0.3s ease-out;
}

.electric-form-reset h2 {
    text-align: center;
    margin-bottom: 24px;
    font-weight: 700;
    color: #0DCAF0;
}

.reset-close {
    position: absolute;
    top: 38vh;
    right: 38vw;
    color: #0DCAF0;
    border-radius: none;
}

.reset-close:hover {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #0DCAF0;
    filter: drop-shadow(0 0 4px #0DCAF0)
            drop-shadow(0 0 8px #0DCAF0)
            drop-shadow(0 0 12px #0DCAF0)
}


@media screen and (max-width: 992px) {
    .reset-close {
        position: absolute;
        top: 37vh;
        right: 14vw;
        color: #0DCAF0;
        border-radius: none;
    }
}
